* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
}

img {
  max-width: 100%;
}

.button {
  padding: 8px 17px;
  font-size: 12px;
  background-color: #55c97b;
  border: none;
}

.button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button:hover {
  background-color: #339f56;
}

.sidebar {
  background-color: #ffffff;
}

.sidebar-block {
  margin-left: -30px;
}

.sidebar__logo {
  margin-bottom: 10px;
  padding-left: 15px;
}

.sidebar-list {
  list-style: none;
}

.sidebar-item {
  padding: 10px 10px;
  margin: 5px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.sidebar-item:hover .sidebar-item__text {
  opacity: 0.6;
}

.sidebar-item__icon {
  margin-right: 18px;
  margin-left: 10px;
}

.sidebar-item__text {
  vertical-align: middle;
  color: #7d7d7d;
  font-size: 14px;
  font-weight: 500;
}

.sidebar-item_active {
  position: relative;
}

.sidebar-item_active .sidebar-item__text {
  color: #343434;
}

.sidebar-item_active:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: #6666cc;
  width: 4px;
  height: 100%;
  -webkit-box-shadow: 0px 2px 10px rgba(102, 102, 204, 0.67);
          box-shadow: 0px 2px 10px rgba(102, 102, 204, 0.67);
}

@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
}

.content {
  position: static;
  height: 100vh;
  background-color: #f8faff;
}

.content-crumbs__text {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: #656565;
}

.content-crumbs__text:hover {
  text-decoration: underline;
  color: #656565;
}

.content-crumbs__text:after {
  content: '\f054';
  display: inline-block;
  margin-left: 5px;
  font-family: 'FontAwesome', sans-serif;
  font-size: 10px;
}

.content-crumbs__text:last-child:after {
  display: none;
}

.header-messege {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 65px;
  height: 65px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.header-messege:after {
  position: absolute;
  -webkit-transform: translate(15px, -10px);
          transform: translate(15px, -10px);
  content: '';
  display: inline-block;
  min-width: 16px;
  height: 16px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  background-color: #e42626;
}

.header-messege:hover img {
  opacity: 0.7;
}

.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 16px;
  height: 100%;
  padding-left: 17px;
  padding-right: 37px;
  -webkit-box-shadow: 0 0 16px rgba(136, 167, 245, 0.18);
          box-shadow: 0 0 16px rgba(136, 167, 245, 0.18);
  border-radius: 5px;
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.header__profile:hover {
  -webkit-box-shadow: 0 0 30px rgba(136, 167, 245, 0.3);
          box-shadow: 0 0 30px rgba(136, 167, 245, 0.3);
}

.header-profile__photo {
  display: inline-block;
  min-width: 45px;
  width: 45px;
  height: 45px;
  border: 3px solid #d4d4d4;
  border-radius: 50%;
  overflow: hidden;
}

.header-profile__photo img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.header-profile__name {
  margin-left: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #7d7d7d;
}

.header-menu {
  display: none;
}

.header-menu_active {
  position: absolute;
  top: 30px;
  right: 20px;
}

.header-menu__icon {
  position: relative;
  width: 20px;
  height: 3px;
  background-color: #656565;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-menu__icon:after {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  height: 3px;
  background-color: #656565;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.header-menu__icon:before {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  height: 3px;
  background-color: #656565;
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
}

.header-menu__icon_active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-menu__icon_active:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header-menu__icon_active:before {
  display: none;
}

.store__button:before {
  content: '\f067';
  margin-right: 14px;
  vertical-align: middle;
  font-family: 'FontAwesome', sans-serif;
  font-size: 14px;
  color: #ffffff;
}

.management-block {
  padding: 10px;
  padding-bottom: 1px;
  min-width: 650px;
  background-color: #ffffff;
  font-size: 14px;
  -webkit-box-shadow: 0 11px 21px rgba(40, 40, 40, 0.07);
          box-shadow: 0 11px 21px rgba(40, 40, 40, 0.07);
  border-radius: 5px;
}

.management__title {
  margin-top: 30px;
  font-size: 20px;
  color: #343434;
}

.management__button {
  padding-left: 15px;
  padding-right: 22px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.management__button:before {
  content: '';
  background-image: url("../img/management/pencil.png");
  display: inline-block;
  margin-right: 14px;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}

.management__button:focus {
  background-color: #b1b1b1;
}

.management__button:focus:before {
  background-image: url("../img/management/cancel.png");
}

.table-header {
  color: #343434;
}

.table-header tr th {
  padding: 20px;
  padding-bottom: 10px;
  border: none;
}

.table-body {
  font-weight: 500;
  color: #6e6e6e;
}

.table-body tr {
  border-bottom: 1px solid #E4E4E4;
}

.table-body tr:last-child {
  border-bottom: none;
}

.table-body tr td {
  padding: 20px;
  vertical-align: middle;
  border: none;
}

.table-body__input {
  display: none;
  width: 100px;
}

.table-body__input_active {
  display: inline-block;
}

.table-body__text_inactive {
  display: none;
}

@media (max-width: 992px) {
  .header-menu {
    display: block;
  }
}

@media (max-width: 768px) {
  .management-block {
    min-width: 600px;
  }
}

@media (max-width: 576px) {
  .management-block {
    min-width: auto;
  }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 370px) {
  .header__profile {
    padding-right: 17px;
  }
  .header-profile__name {
    display: none;
  }
}

.store-create {
  position: absolute;
  top: 0;
  -webkit-transform: translate(-165px, 170px);
          transform: translate(-165px, 170px);
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 35px;
  padding-left: 30px;
  width: 617px;
  color: #343434;
  -webkit-box-shadow: 0 30px 38px rgba(37, 37, 37, 0.1);
          box-shadow: 0 30px 38px rgba(37, 37, 37, 0.1);
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
}

.store-create__title {
  font-size: 20px;
}

.store-create__close {
  border: none;
  background-color: #ffffff;
  outline: none;
}

.store-list:after {
  content: "\f054";
  position: absolute;
  right: 35px;
  top: 40px;
  font-family: 'FontAwesome', sans-serif;
  font-size: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  pointer-events: none;
  z-index: 1;
}

.store-form__label {
  display: block;
  font-size: 14px;
  font-weight: 500;
}

.store-form__select {
  position: relative;
  width: 100%;
  height: 36px;
  padding-left: 15px;
  font-size: 12px;
  color: #7c7c7c;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.store-form__input {
  position: relative;
  width: 100%;
  height: 36px;
  padding-left: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #7c7c7c;
  background-color: #e6e6e9;
  border: none;
  border-radius: 3px;
  outline: none;
}

.store-form__image {
  display: inline-block;
}

.store-form__text {
  margin-left: -30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #7d7d7d;
}

.store-form__text a {
  color: #6666cc;
}

.store-form__button {
  margin-right: 5px;
  padding: 7px 50px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 2px;
  color: #ffffff;
}

.store-form__cancel {
  background-color: #b1b1b1;
}

.store-form__cancel:hover {
  background-color: #7e7e7e;
}

.store-domain:after {
  content: '.work5.ru';
  display: inline-block;
  position: absolute;
  right: 15px;
  padding: 0 47px;
  height: 36px;
  font-size: 14px;
  border-radius: 3px;
  background-color: #6666cc;
  color: #ffffff;
  line-height: 36px;
  z-index: 1;
}

@media (max-width: 768px) {
  .store-create {
    -webkit-transform: translate(-58px, 230px);
            transform: translate(-58px, 230px);
  }
}

@media (max-width: 576px) {
  .store-create {
    left: calc(50% - 100px);
    max-width: 320px;
  }
  .store-form__input {
    font-size: 12px;
  }
  .store-form__text {
    margin-left: 0;
  }
  .store-form__button {
    margin-bottom: 10px;
  }
  .store-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .store-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .store-domain:after {
    padding: 0 10px;
  }
}
/*# sourceMappingURL=style.css.map */